@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
  height: 100%;
}

body{
  background-color: black;
  background-image: url(cubemagic.gif);
  background-size: cover;
  background-position: absolute;
  width: 100%;  
}

span{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:black;
}

select{
  border:3px solid rgb(238, 237, 236);
  border-radius: 11px;
  font-size: 15px;
  font-weight: bold;
  padding: 3px;
}

#suaMensagem{
  border: 3px solid gray;
  border-radius: 5px;
  width: 300px;
  height: 100%;
  word-wrap: break-word;
  background-color: grey;
}

#chaveDeCesar{
  text-align: center;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-decoration: darkblue;
}


#mensagem{
  border: 2px solid rgb(238, 237, 236);
  border-radius: 5px;
}

#btn{
  border:3px solid seashell;
  border-radius: 11px;
  font-size: 15px;
  font-weight: bold;
  padding: 3px;

}

#btn:hover{
  background-color: black;
  color: seashell;
  cursor: pointer;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: black;
  width: 99%;
  height: 50px;
  border: 1px solid seashell;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: fixed;
}

.titulo a {
  color: seashell;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: oblique;
}

.corpoFormulario{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: black;
  
}

.inicioFormulario{
  border: 1px solid seashell;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 500px;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 110px;
  background-color: seashell;
  border-radius: 50px;
  font-family: arial;
  color: black;
  
}


